* {
    font-family: 'Montserrat', sans-serif;
    color: #333333;
}

body {
    background-color: #191919;
}
:hover{
    transition: all 0.5s;
}

.container {
    width: 940px;
    margin: 0 auto;
}

.line {
    height: 2px;
    background-color: skyblue;
}

a {
    color: white;
    display: block;
    padding: 24px 40px;
    margin: 0 auto;
    background-color: rgba(84,106,126,0.5);
    cursor: pointer;
}
a:hover{
    background-color: skyblue;
}

ul {
    display: flex;
}

ul li {
    background-color: rgba(84, 106, 126, 0.1);
    margin: 0 1px;
}
ul{
    margin: 0 -1px;
}
